In [1]:
# import packages
%matplotlib inline
import warnings
import numpy as np
import pandas as pd
from numpy import random
from scipy import stats
import matplotlib.pyplot as plt
import Quandl
plt.style.use('fivethirtyeight')

In [2]:
df = pd.read_csv('test_window.csv')

In [3]:
win_size = 3
num_feats = 3

In [4]:
index_count = 0

# create first entries of the sampling window
window_x = (df[['1_month', '3_month', '6_month']].values[0:win_size]).reshape((1,win_size*num_feats))

# iterate through the dataframe and append each successive sampling window
for i in xrange(1, len(df)-win_size):
    temp_x = (df[['1_month', '3_month', '6_month']].values[i:i+win_size]).reshape((1,win_size*num_feats))
    window_x = np.concatenate((window_x, temp_x))
    
    index_count += 1

In [5]:
window_y = (df[['12_month']].values[win_size:len(df)])

In [6]:
df

    1_month  3_month  6_month  12_month
0         1        2        3         1
1         4        5        6         2
2         7        8        9         3
3        10       11       12         4
4        13       14       15         5
5        16       17       18         6
6        19       20       21         7
7        22       23       24         8
8        25       26       27         9
9        28       29       30        10
10       31       32       33        11
11       34       35       36        12
12       37       38       39        13
13       40       41       42        14
14       43       44       45        15
15       46       47       48        16
16       49       50       51        17
17       52       53       54        18
18       55       56       57        19
19       58       59       60        20
20       61       62       63        21
21       64       65       66        22
22       67       68       69        23
23       70       71       72        24
24       73       74       75        25

In [7]:
print len(window_y)
window_y

22

array([[ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12],
       [13],
       [14],
       [15],
       [16],
       [17],
       [18],
       [19],
       [20],
       [21],
       [22],
       [23],
       [24],
       [25]])

In [8]:
print len(window_x)
window_x

22

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9],
       [ 4,  5,  6,  7,  8,  9, 10, 11, 12],
       [ 7,  8,  9, 10, 11, 12, 13, 14, 15],
       [10, 11, 12, 13, 14, 15, 16, 17, 18],
       [13, 14, 15, 16, 17, 18, 19, 20, 21],
       [16, 17, 18, 19, 20, 21, 22, 23, 24],
       [19, 20, 21, 22, 23, 24, 25, 26, 27],
       [22, 23, 24, 25, 26, 27, 28, 29, 30],
       [25, 26, 27, 28, 29, 30, 31, 32, 33],
       [28, 29, 30, 31, 32, 33, 34, 35, 36],
       [31, 32, 33, 34, 35, 36, 37, 38, 39],
       [34, 35, 36, 37, 38, 39, 40, 41, 42],
       [37, 38, 39, 40, 41, 42, 43, 44, 45],
       [40, 41, 42, 43, 44, 45, 46, 47, 48],
       [43, 44, 45, 46, 47, 48, 49, 50, 51],
       [46, 47, 48, 49, 50, 51, 52, 53, 54],
       [49, 50, 51, 52, 53, 54, 55, 56, 57],
       [52, 53, 54, 55, 56, 57, 58, 59, 60],
       [55, 56, 57, 58, 59, 60, 61, 62, 63],
       [58, 59, 60, 61, 62, 63, 64, 65, 66],
       [61, 62, 63, 64, 65, 66, 67, 68, 69],
       [64, 65, 66, 67, 68, 69, 70, 71, 72]])